
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: sans-serif;
}
body{
  max-width: 1440px ;
  display: block;
  margin: auto;
}
.cards{
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 30px;
  background: #E9FBF8;
  border-radius: 0px;
  padding: 10px;
}
.card{
  background: #FDFDFF;
  box-shadow: 0px 97px 90px rgba(7, 0, 59, 0.15);
  border-radius: 12px;
  padding: 20px;
}

button{
  padding: 10px;
  background: crimson;
  color: white;
  font-size: 25px;
  margin: 20px;
}
.btn.activ{
  background: cornflowerblue;
}

nav{
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 25px;
  color: cyan;
}
ul{
  gap: 30px;
  display: flex;
  align-items: center;
}
.menu{
  display: none;
}
@media (max-width:768px) {
  nav{
    position: relative;
  }
  ul{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 118px;
    left: 100%;
    padding: 100px 0;
    transition: all .5s ease;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
  }
  ul.activ{
    left: 0;
  }
  .menu{
    display: block;
  }
}



.modal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -99;
  transition: all 0.4s ease-in-out;
}
.modal.activ{
  opacity: 1;
  z-index: 99;
}
.modal_body{
  width: 400px;
  background: #fff;
  padding: 40px;
  position: relative;
}
.close{
  position: absolute;
  top: 0;
  right: 0;
}

button.activ{
  background: cadetblue;
}
.corusel .img__{
  padding: 20px;
}
.img__ img{
  width: 100%;
}
body{
  /* background: red; */
}
body .slick-next{
  right: 0;
}
body .slick-prev{
  z-index: 99;
}
body .slick-prev:before,body .slick-next:before{
  color: crimson;
  font-size: 40px;
}