* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: sans-serif;
}

body {
  max-width: 1440px;
  display: block;
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 30px;
  background: #E9FBF8;
  border-radius: 0px;
  padding: 10px;
}

.card {
  background: #FDFDFF;
  box-shadow: 0px 97px 90px rgba(7, 0, 59, 0.15);
  border-radius: 12px;
  padding: 20px;
}

button {
  padding: 10px;
  background: crimson;
  color: white;
  font-size: 25px;
  margin: 20px;
}

.btn.activ {
  background: cornflowerblue;
}

nav {
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  color: cyan;
}

ul {
  gap: 30px;
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}

@media (max-width:768px) {
  nav {
    position: relative;
  }

  ul {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 118px;
    left: 100%;
    padding: 100px 0;
    transition: all .5s ease;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
  }

  ul.activ {
    left: 0;
  }

  .menu {
    display: block;
  }
}



button.activ {
  background: cadetblue;
}

.corusel .img__ {
  padding: 20px;
}

.img__ img {
  width: 100%;
}

body .slick-next {
  right: 0;
}

body .slick-prev {
  z-index: 99;
}

body .slick-prev:before,
body .slick-next:before {
  color: crimson;
  font-size: 40px;
}

input {
  padding: 10px;
  border: 1px solid gray;
  outline: none;
  font-size: 18px;
  display: block;
  margin: 20px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 50px;
}

.grid>div {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.grid img {
  width: 100%;
}

.search input {
  display: block;
  margin: 20px auto;
}

.card.activ {
  background: crimson;
}

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -99;
  transition: all 0.4s ease-in-out;
}

.modal.activ {
  opacity: 1;
  z-index: 99;
}

.modal_body {
  width: 600px;
  background: white;
  padding: 30px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.btn.activ {
  background: cyan;
}

.card img {
  width: 100%;
}

html,
body {
  overflow-x: hidden;
}

a {
  cursor: pointer !important;
}

.load {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(7, 0, 59, 0.55);
  width: 100%;
  height: 100%;
  z-index: -99;
  opacity: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.load img {
  border-radius: 50%;
}

.load.activ {
  z-index: 99;
  opacity: 1;

}

.cardDetil {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 50% 50%;
  padding: 50px;
}

.dark {
  background: black;
  color: white;
}

.dark.activ {
  background: white;
  color: black;
}

.form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forms {
  width: 600px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

input {
  width: 90%;
}

table,
tr,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;
}

table {
  margin: 40px;
}

.modal_crud {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -99;
  transition: all 0.4s ease-in-out;
}

.modal_crud.activ {
  opacity: 1;
  z-index: 99;

}
.modals{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -99;
  transition: all 0.4s ease-in-out;
}
.modal_bodys{
  width: 400px;
  background: white;
  padding: 30px;
  position: relative;
}
.modals.activ{
  opacity: 1;
  z-index: 99;
}
.video{
  width: 400px;
  height: 400px;
  position: relative;
}
.video video{
  width: 100%;
  height: 100%;
}
.video button{
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%,-50%);
}
.modal_oyna111{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  opacity: 0;
  transition: all .4s ease-in-out;

}
.modal11{
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.yopish{
  background-color:red ;
  color: white;
  padding: 10px;
  top: 0;
  right: 0;
  position: absolute;
}
.modal_oyna111.activ{
  z-index: 99;
  opacity: 1;
  
}